[submodule "catkin_ws/src/navigation"]
	path = catkin_ws/src/navigation
	url = ../navigation.git
[submodule "catkin_ws/src/teb_local_planner"]
	path = catkin_ws/src/teb_local_planner
	url = ../teb_local_planner.git
[submodule "catkin_ws/src/ypspur_ros"]
	path = catkin_ws/src/ypspur_ros
	url = ../ypspur_ros.git
[submodule "catkin_ws/src/cirkit_waypoint_manager"]
	path = catkin_ws/src/cirkit_waypoint_manager
	url = ../cirkit_waypoint_manager.git
[submodule "catkin_ws/src/cirkit_waypoint_manager_msgs"]
	path = catkin_ws/src/cirkit_waypoint_manager_msgs
	url = ../cirkit_waypoint_manager_msgs.git
[submodule "catkin_ws/src/sgm_cuda/lib"]
	path = catkin_ws/src/sgm_cuda/lib
	url = ../sgm.git
[submodule "catkin_ws/src/stixel_cuda/lib"]
	path = catkin_ws/src/stixel_cuda/lib
	url = ../stixels.git
[submodule "catkin_ws/src/costmap_converter"]
	path = catkin_ws/src/costmap_converter
	url = git@github.com:koichiHik/costmap_converter.git
