<launch>
  <arg name="urdf_file" default="$(find scripts)/urdf/robot.urdf" />
  <arg name="base_frame_id" default="base_link" />
  <arg name="odom_frame_id" default="odom" />
  <arg name="map_frame_id" default="map" />
  <arg name="lidar_frame_id" default="laser3d_link" />
  <arg name="imu_frame_id" default="imu_link" />
  <arg name="urg_frame_id" default="laser2d_link" />
  <arg name="ypspur_odom_frame_id" default="odom_ypspur" />
  <!-- ypspur_ros node -->
  <arg name="ypspur_cmd_vel" default="cmd_vel" />
  <arg name="yp_spur_yaml_filepath" />
  <arg name="control_limit_filepath" />
  <arg name="ypspur_bin_filepath" default="$(find scripts)/../../../../3rdparty/install/yp_spur/bin/ypspur-coordinator" />
  <arg name="ypspur_param_filepath" />
  <arg name="imu_port" default="/dev/RT_USB_IMU" />
  <!-- urg node-->
  <arg name="urg_node_yaml_filepath" />
  <!-- velodyne node-->
  <arg name="velodyne_calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml"/>
  <arg name="velodyne_param_filepath" />
  <arg name="rviz_config_file" />
  <!-- odom node-->
  <arg name="robot_yaml_filepath" />
  <arg name="odom_yaml_filepath" />
  <arg name="imu_adjust_param_filepath" />
	<arg name="nmea_driver_param_filepath" />
  <!-- map loader -->
  <!-- points down sampler -->
  <arg name="raw_points_topic" />
  <arg name="downsampler_node_name" />
  <!-- ndt matching -->
  <arg name="common_yaml_filepath" />
  <arg name="ndt_matching_yaml_filepath" />
  <arg name="mcl_3dl_yamlpath" />
  <arg name="lidar_cluster_filepath" />
  <arg name="costmap_generator_filepath" />
  <arg name="astar_avoid_yamlpath" />
  <arg name="velocity_set_yamlpath" />
  <arg name="pure_pursuit_controller_yamlpath" />
  <arg name="lane_navi_yamlpath" />
  <arg name="lane_select_yamlpath" />
  <arg name="lane_rule_yamlpath" />
  <arg name="start_course_idx" />
  <arg name="course_config_yamlpath" />
  <arg name="status_management_yamlpath" />
  <arg name="waypoint_replanner_yamlpath" />

  <!-- Load common parameters -->
  <rosparam command="load" file="$(arg common_yaml_filepath)" />

  <!-- Hardware nodes bringup -->
  <include file="$(find scripts)/launch/system/hardware_bringup.launch" >
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="imu_frame_id" value="$(arg imu_frame_id)" />
    <arg name="urg_frame_id" value="$(arg urg_frame_id)" />
    <arg name="velodyne_frame_id" value="$(arg lidar_frame_id)" />
    <arg name="ypspur_odom_frame_id" value="$(arg ypspur_odom_frame_id)" />
    <arg name="ypspur_cmd_vel" value="$(arg ypspur_cmd_vel)" />
    <arg name="yp_spur_yaml_filepath" value="$(arg yp_spur_yaml_filepath)" />
    <arg name="control_limit_filepath" value="$(arg control_limit_filepath)" />
    <arg name="ypspur_bin_filepath" value="$(arg ypspur_bin_filepath)" />
    <arg name="ypspur_param_filepath" value="$(arg ypspur_param_filepath)" />
    <arg name="imu_port" value="$(arg imu_port)" />
    <arg name="urg_node_yaml_filepath" value="$(arg urg_node_yaml_filepath)" />
    <arg name="velodyne_calibration" value="$(arg velodyne_calibration)"/>
    <arg name="velodyne_param_filepath" value="$(arg velodyne_param_filepath)" />
		<arg name="nmea_driver_param_filepath" value="$(arg nmea_driver_param_filepath)" />
  </include>
  
  <!-- Base nodes bringup -->
  <include file="$(find scripts)/launch/system/basenodes_bringup.launch" >
    <arg name="urdf_file" value="$(arg urdf_file)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    <arg name="robot_yaml_filepath" value="$(arg robot_yaml_filepath)" />
    <arg name="odom_yaml_filepath" value="$(arg odom_yaml_filepath)" />
    <arg name="imu_adjust_param_filepath" value="$(arg imu_adjust_param_filepath)" />
    <arg name="rviz_config_file" value="$(arg rviz_config_file)" />
  </include>

  <!-- Localizer nodes bringup -->
  <include file="$(find scripts)/launch/system/localizer_bringup.launch">
    <arg name="raw_points_topic" value="$(arg raw_points_topic)" />
    <arg name="downsampler_node_name" value="$(arg downsampler_node_name)" />
    <arg name="ndt_matching_yaml_filepath" value="$(arg ndt_matching_yaml_filepath)" />
    <arg name="mcl_3dl_yamlpath" value="$(arg mcl_3dl_yamlpath)" />
  </include>

  <!-- Perception nodes bringup -->
  <include file="$(find scripts)/launch/system/perception_bringup.launch">
    <arg name="map_frame_id" value="$(arg map_frame_id)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="lidar_cluster_filepath" value="$(arg lidar_cluster_filepath)" />
    <arg name="costmap_generator_filepath" value="$(arg costmap_generator_filepath)" />
  </include>

  <!-- Planner nodes bringup -->
  <include file="$(find scripts)/launch/system/planner_bringup.launch" >
    <arg name="astar_avoid_yamlpath" value="$(arg astar_avoid_yamlpath)" />
    <arg name="velocity_set_yamlpath" value="$(arg velocity_set_yamlpath)" />
    <arg name="pure_pursuit_controller_yamlpath" value="$(arg pure_pursuit_controller_yamlpath)" />
    <arg name="lane_navi_yamlpath" value="$(arg lane_navi_yamlpath)" />
    <arg name="lane_select_yamlpath" value="$(arg lane_select_yamlpath)" />
    <arg name="lane_rule_yamlpath" value="$(arg lane_rule_yamlpath)" />
  </include>

  <!-- Status maanger bringup -->
  <include file="$(find scripts)/launch/modules/common/status_management.launch">
    <arg name="start_course_idx" value="$(arg start_course_idx)" />
    <arg name="course_config_yamlpath" value="$(arg course_config_yamlpath)" />
    <arg name="status_management_yamlpath" value="$(arg status_management_yamlpath)" />
  </include>

  <include file="$(find scripts)/launch/modules/autoware/waypoint_loader.launch" >
    <arg name="waypoint_replanner_yamlpath" value="$(arg waypoint_replanner_yamlpath)" />
  </include>

</launch>
