<launch>
  <arg name="bagfile_path" />
  <arg name="start" />
  <arg name="duration" />
  <arg name="rate" />
  <arg name="wait" />
  <arg name="urdf_file" />
  <arg name="base_frame_id" default="base_link" />
  <arg name="odom_frame_id" default="odom" />
  <!-- odom node-->
  <arg name="robot_yaml_filepath" />
  <arg name="odom_yaml_filepath" />
  <arg name="imu_adjust_param_filepath" />
  <arg name="rviz_config_file" />

  <include file="$(find scripts)/launch/system/basenodes_bringup.launch">
    <arg name="urdf_file" value="$(arg urdf_file)" />
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    <arg name="robot_yaml_filepath" value="$(arg robot_yaml_filepath)" />
    <arg name="odom_yaml_filepath" value="$(arg odom_yaml_filepath)" />
    <arg name="imu_adjust_param_filepath" value="$(arg imu_adjust_param_filepath)" />
    <arg name="rviz_config_file" value="$(arg rviz_config_file)" />
    <arg name="rviz_on" value="True" />
  </include>

  <include file="$(find scripts)/launch/modules/common/rosbag_replay.launch">
    <arg name="bagfile_path" value="$(arg bagfile_path)" />
    <arg name="start" value="$(arg start)" />
    <arg name="duration" value="$(arg duration)" />
    <arg name="rate" value="$(arg rate)" />
    <arg name="wait" value="$(arg wait)" />
  </include>

</launch>
