<launch>
  <arg name="urdf_file" />
  <arg name="base_frame_id" default="base_link" />
  <arg name="odom_frame_id" default="odom" />
  <!-- odom node-->
  <arg name="robot_yaml_filepath" />
  <arg name="odom_yaml_filepath" />
  <arg name="imu_adjust_param_filepath" />
  <arg name="rviz_config_file" />
  <arg name="rviz_on" default="False" />

  <!-- Robot state publisher -->
  <include file="$(find scripts)/launch/modules/common/robot_state_publisher.launch" >
    <arg name="urdf_file" value="$(arg urdf_file)" />
  </include>

  <!-- Imu Adjust -->
  <include file="$(find scripts)/launch/modules/common/imu_adjust.launch">
    <arg name="imu_adjust_param_filepath" value="$(arg imu_adjust_param_filepath)" />
  </include>

  <!-- Odometry -->
  <include file="$(find scripts)/launch/modules/common/odometry.launch">
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    <arg name="robot_yaml_filepath" value="$(arg robot_yaml_filepath)" />
    <arg name="odom_yaml_filepath" value="$(arg odom_yaml_filepath)" />
  </include>

  <!-- Lidar Scan to Pcl -->
  <include file="$(find scripts)/launch/modules/common/scan_to_pcl2.launch" />

  <node pkg="rviz" type="rviz" name="rviz" output="screen" required="True"
        args="-d $(arg rviz_config_file)" if="$(eval rviz_on)" />

</launch>
