<launch>
  <arg name="urdf_file" default="$(find scripts)/urdf/robot.urdf" />
  <arg name="base_frame_id" default="base_link" />
  <arg name="odom_frame_id" default="odom" />
  <!-- odom node-->
  <arg name="robot_yaml_filepath" default="$(find scripts)/params/common/robot.yaml" />
  <arg name="odom_yaml_filepath" default="$(find scripts)/params/common/odometry.yaml" />
  <arg name="imu_adjust_param_filepath" default="$(find scripts)/params/common/imu_adjust.yaml" />
  <arg name="rviz_config_file" default="$(find scripts)/rviz/config.rviz" />

  <!-- Robot state publisher -->
  <include file="$(find scripts)/launch/modules/common/robot_state_publisher.launch" >
    <arg name="urdf_file" value="$(arg urdf_file)" />
  </include>

  <!-- Imu Adjust -->
  <include file="$(find scripts)/launch/modules/common/imu_adjust.launch">
    <arg name="imu_adjust_param_filepath" value="$(arg imu_adjust_param_filepath)" />
  </include>

  <!-- Odometry -->
  <include file="$(find scripts)/launch/modules/common/odometry.launch">
    <arg name="base_frame_id" value="$(arg base_frame_id)" />
    <arg name="odom_frame_id" value="$(arg odom_frame_id)" />
    <arg name="robot_yaml_filepath" value="$(arg robot_yaml_filepath)" />
    <arg name="odom_yaml_filepath" value="$(arg odom_yaml_filepath)" />
  </include>

  <node pkg="rviz" type="rviz" name="rviz" output="screen" required="True"
        args="-d $(arg rviz_config_file)" />

</launch>