<launch>
  <arg name="plane_number" default="9" />
  <!-- map loader -->
  <arg name="pcd_filelist" />
  <!-- points down sampler -->
  <arg name="raw_points_topic" />
  <arg name="downsampler_node_name" />
  <!-- ndt matching -->
  <arg name="common_yaml_filepath" default="$(find scripts)/params/autoware/common.yaml" />
  <arg name="ndt_matching_yaml_filepath" default="$(find scripts)/params/autoware/ndt_matching.yaml" />
  <arg name="world_to_map_json" />
  <!-- init pos -->
  <arg name="x" />
  <arg name="y" />
  <arg name="z" />
  <arg name="roll" />
  <arg name="yaw" />
  <arg name="pitch" />

  <!-- Gnss Localizer -->
  <include file="$(find scripts)/launch/modules/autoware/fix2tfpose.launch">
    <arg name="plane" value="$(arg plane_number)" />
  </include>

  <include file="$(find scripts)/launch/modules/autoware/points_downsampler.launch">
    <arg name="raw_points_topic" value="$(arg raw_points_topic)" />
    <arg name="node_name" value="$(arg downsampler_node_name)" />
  </include>

  <include file="$(find scripts)/launch/modules/autoware/ndt_matching.launch">
    <arg name="common_yaml_filepath" value="$(arg common_yaml_filepath)" />
    <arg name="ndt_matching_yaml_filepath" value="$(arg ndt_matching_yaml_filepath)" />
  </include>

  <include file="$(find scripts)/launch/modules/autoware/map_loader.launch">
    <arg name="pcd_filelist" value="$(arg pcd_filelist)" />
  </include>

  <node pkg="scripts" type="pose_transform.py" name="pose_trnsform" output="log" required="True" 
        args="-world_to_map_json $(arg world_to_map_json)" />

  <node pkg="scripts" type="publish_ndt_config.py" name="publish_ndt_config" output="screen" required="True" 
        args="-x $(arg x) -y $(arg y) -z $(arg z) -roll $(arg roll) -yaw $(arg yaw) -pitch $(arg pitch)" />

</launch>