<launch>
  <arg name="plane_number" />
  <!-- map loader -->
  <arg name="pcd_filelist" />
  <!-- points down sampler -->
  <arg name="raw_points_topic" />
  <arg name="downsampler_node_name" />
  <!-- ndt matching -->
  <arg name="ndt_matching_yaml_filepath" />
  <arg name="mcl_3dl_yamlpath" />
  <arg name="world_to_map_json" />

  <!-- Gnss Localizer -->
  <include file="$(find scripts)/launch/modules/autoware/fix2tfpose.launch">
    <arg name="plane" value="$(arg plane_number)" />
  </include>

  <include file="$(find scripts)/launch/modules/autoware/points_downsampler.launch">
    <arg name="raw_points_topic" value="$(arg raw_points_topic)" />
    <arg name="node_name" value="$(arg downsampler_node_name)" />
  </include>

  <include file="$(find scripts)/launch/modules/autoware/ndt_matching.launch">
    <arg name="ndt_matching_yaml_filepath" value="$(arg ndt_matching_yaml_filepath)" />
  </include>

  <include file="$(find scripts)/launch/modules/common/mcl_3dl.launch">
    <arg name="mcl_3dl_yamlpath" value="$(arg mcl_3dl_yamlpath)" />
  </include>

  <include file="$(find scripts)/launch/modules/common/pose_initializer.launch" />

  <include file="$(find scripts)/launch/modules/autoware/map_loader.launch">
    <arg name="pcd_filelist" value="$(arg pcd_filelist)" />
  </include>

  <node pkg="scripts" type="pose_transform.py" name="pose_transform" output="log" required="True" 
        args="-world_to_map_json $(arg world_to_map_json)" />

</launch>