
<launch>
  <arg name="robot" value="ter2" />
  <arg name="mgr" value="pc_nodelet_mgr" />

  <include file="$(find scripts)/includes/common_param_loader.launch.xml" >
    <arg name="robot" value="$(arg robot)" />    
  </include>

  <include file="$(find scripts)/includes/$(arg mgr).launch.xml"/>

  <include file="$(find scripts)/includes/joy_control.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/ypspur_ros.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
    <arg name="cmd_vel" value="/teleop_twist_joy/cmd_vel" />
  </include>8

  <include file="$(find scripts)/includes/odometry.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/urg_node.launch.xml" />

  <node pkg="rostopic" type="rostopic" name="yp_spur_free" args="pub /ypspur/control_mode ypspur_ros/ControlMode 'vehicle_control_mode: 0' -r 10" output="screen" />

</launch>
