
<launch>

  <arg name="waypoint_filename_" value="ch5_2019-10-26-12-05-39.csv" />
  <arg name="waypnt_dir" default="$(find data)/waypoint/tc/" />	

  <include file="$(find scripts)/includes/cirkit_waypoint_publisher.launch.xml" >
    <arg name="waypoint_filename" value="$(arg waypnt_dir)$(arg waypoint_filename_)" />
  </include>

</launch>
