
<launch>

  <arg name="waypoint_filename_" value="hm_straight_2019-11-03-20-06-47.csv" />
  <arg name="waypnt_dir" default="$(find data)/waypoint/home/" />	

  <include file="$(find scripts)/includes/cirkit_waypoint_publisher.launch.xml" >
    <arg name="waypoint_filename" value="$(arg waypnt_dir)$(arg waypoint_filename_)" />
  </include>

</launch>
