
<launch>
  <arg name="robot" value="imini" />
  <arg name="mgr" value="pc_nodelet_mgr" />

  <include file="$(find scripts)/includes/common_param_loader.launch.xml" >
    <arg name="robot" value="$(arg robot)" />    
  </include>

  <include file="$(find scripts)/includes/$(arg mgr).launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>  

  <include file="$(find scripts)/includes/joy_control.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/ypspur_ros.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/odometry.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/urg_node.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>  

  <include file="$(find script_pkg)/launch/includes/map_server.launch.xml" >
    <arg name="map_name"      value="$(arg map_name)" />
  </include>

  <include file="$(find scripts)/includes/amcl.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/move_base.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>


</launch>
