<launch>
  <arg name="init_from_gnss" />
  <arg name="use_pose_search" />
  <arg name="x" />
  <arg name="y" />
  <arg name="z" />
  <arg name="roll" />
  <arg name="pitch" />
  <arg name="yaw" />
  <arg name="status_management_yamlpath" />
  <arg name="nodelet_mgr" default="status_mgmt_nodelet_mgr" />

  <node pkg="scripts" name="announcer" type="text_to_speech_node.py" required="true" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_mgr)" args="manager" output="screen" required="true" />
	<node pkg="nodelet" type="nodelet" name="StatusManagementNodelet" 
        args="load status_management/StatusManagementNodelet $(arg nodelet_mgr)" output="screen" required="true">

    <!-- Topic Name IN -->

    <!-- Topic Name OUT -->

    <!-- Load parameters -->
    <param name="init_from_gnss" value="$(arg init_from_gnss)" />
    <param name="use_pose_search" value="$(arg use_pose_search)" />
    <param name="x" value="$(arg x)" />
    <param name="y" value="$(arg y)" />
    <param name="z" value="$(arg z)" />
    <param name="roll" value="$(arg roll)" />
    <param name="pitch" value="$(arg pitch)" />
    <param name="yaw" value="$(arg yaw)" />
    <rosparam file="$(arg status_management_yamlpath)" command="load" />

  </node>

</launch>