
<launch>

  <arg name="robot" value="imini" />
  <arg name="mgr" value="pc_nodelet_mgr" />
  <param name="use_sim_time" value="true" />

  <include file="$(find scripts)/includes/$(arg mgr).launch.xml"/>

  <include file="$(find scripts)/includes/common_param_loader.launch.xml" >
    <arg name="robot" value="$(arg robot)" />    
  </include>

  <include file="$(find scripts)/includes/urg_node_tf.launch.xml" >
    <arg name="robot" value="$(arg robot)" />    
  </include>  

  <include file="$(find scripts)/includes/odometry.launch.xml" >
    <arg name="robot" value="$(arg robot)" />
  </include>

  <include file="$(find scripts)/includes/gmapping.launch.xml">
    <arg name="robot" value="$(arg robot)" />
    <remap from="/odometry" to="/odometry/whl" />
  </include>

  <node pkg="rviz" type="rviz" name="rviz" />

</launch>
