
<robot name="ter2">
  <material name="orange">
    <color rgba="1.0 0.5 0.2 1" />
  </material>
  <material name="gray">
    <color rgba="0.2 0.2 0.2 1" />
  </material>

  <link name="imu_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <box size="0.06 0.04 0.02" />
      </geometry>
      <material name="orange" />
    </visual>
  </link>

  <link name="laser2d_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="laser3d_link">
    <visual>
      <origin xyz="0.0 0.0 0.0" />
      <geometry>
        <cylinder length="0.07" radius="0.05" />
      </geometry>
      <material name="gray" />
    </visual>
  </link>

  <link name="base_link" />

  <joint name="imu_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="imu_link" />
    <origin xyz="0.05 0.04 0.27" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="laser2d_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser2d_link" />
    <origin xyz="0.22 0.00 0.17" rpy="0.0 0.0 0.0" />
  </joint>

  <joint name="laser3d_link_joint" type="fixed">
    <parent link="base_link" />
    <child link="laser3d_link" />
    <origin xyz="0.09 0.00 0.83" rpy="0. 0. -1.571" />
  </joint>

</robot>