<launch>
  <arg name="lidar_frame_id" default="laser3d_link" />
  <arg name="map_frame_id" default="map" />
  <arg name="costmap_generator_filepath" default="$(find scripts)/params/autoware/costmap_generator.yaml" />

  <!-- Launch node -->
  <node pkg="costmap_generator" type="costmap_generator" name="costmap_generator" output="screen">
    <param name="lidar_frame" value="$(arg lidar_frame_id)" />
    <param name="map_frame" value="$(arg map_frame_id)" />
    <rosparam command="load" file="$(arg costmap_generator_filepath)" />

    <!-- TOPIC (IN) -->
    <!-- <remap from="/prediction/motion_predictor/objects" to="$(arg objects_input)" /> -->
    <remap from="/points_no_ground" to="/velodyne_points" />
  </node>
</launch>
