<launch>
  <arg name="plane" />
  <node pkg="gnss_localizer" type="fix2tfpose" name="fix2tfpose" output="log">
    <param name="plane" value="$(arg plane)"/>

    <!-- Topic (IN) -->
    <remap from="fix" to="fix" />

    <!-- Topic (OUT) -->
    <remap from="gnss_pose" to="gnss_pose" />
    <remap from="/gnss_stat" to="/gnss_stat" />

  </node>
</launch>
