<launch>
  <arg name="velocity_set_yamlpath" default="$(find scripts)/params/autoware/velocity_set.yaml" />

  <node pkg="waypoint_planner" type="velocity_set" name="velocity_set" output="screen">

    <!-- Load parameters -->
    <rosparam command="load" file="$(arg velocity_set_yamlpath)" />

    <!-- Topic (IN) -->
    <remap from="safety_waypoints" to="safety_waypoints" />
    <remap from="current_velocity" to="current_velocity" />
    <remap from="config/velocity_set" to="config/velocity_set" />
    <remap from="localizer_pose" to="localizer_pose" />
    <remap from="current_pose" to="current_pose" />
    <remap from="second_points" to="/urg_points" />
    <remap from="/state/stopline_wpidx" to="/state/stopline_wpidx" />
    <remap from="vector_map_info/cross_walk" to="vector_map_info/cross_walk" />
    <remap from="vector_map_info/area" to="vector_map_info/area" />
    <remap from="vector_map_info/line" to="vector_map_info/line" />
    <remap from="vector_map_info/point" to="vector_map_info/point" />

    <!-- Topic (OUT) -->
    <remap from="detection_range" to="detection_range" />
    <remap from="obstacle" to="obstacle" />
    <remap from="obstacle_waypoint" to="obstacle_waypoint" />
    <remap from="stopline_waypoint" to="stopline_waypoint" />
    <remap from="final_waypoints" to="final_waypoints" />
    <remap from="pcl_for_obstacle" to="pcl_for_obstacle" />
    <remap from="pcl2_for_obstacle" to="pcl2_for_obstacle" />

  </node>

</launch>
